# --- Python 核心文件 ---
.venv/
venv/
ENV/
env/
bin/
lib/
include/
*.py[cod]
*$py.class
__pycache__/

# --- Django 运行产物 ---
db.sqlite3
db.sqlite3-journal
*.sqlite3
media/
staticfiles/
/static/

# --- 本地私有环境覆盖文件 ---
.env.local
.env.*.local

# --- IDE 配置 ---
.idea/
*.iml
.vscode/

# --- 日志与临时文件 ---
*.log
*.bak
*.swp
*.tmp

# --- 操作系统临时文件 ---
.DS_Store
Thumbs.db
